@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --logo-font: "Cormorant Garamond", serif, arial, sans-serif;
    --title-font: "Poppins", arial, sans-serif;
    --text-font: "Source Sans 3", arial, sans-serif;
    --link-font: "Roboto Condensed", arial, sans-serif;
    --color-1: #d9dcd6;
    --color-2: #16425b;
    --color-3: #2f6690;
    --color-4: #3a7ca5;
    --color-5: #81c3d7;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    background-color: var(--color-1);
}

body.open{
    overflow-y: hidden;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
    font-weight: 700;
}

p{
    font-family: var(--text-font);
}

a{
    font-family: var(--link-font);
}

#overlay.open{
    position: absolute;
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    padding-inline: 1.5rem;
    z-index: 9999;
    background-color: var(--color-3);
    transition: all 300ms ease-in-out;
}

.scroll-up header{
    filter: drop-shadow(0 -10px 20px #0000005e);
}

.scroll-down header{
    transform: translate3d(0, -100%, 0);
}

header #menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

header #menu-icon span{
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

#menu-icon.open span:nth-child(1){
    transform: rotate(45deg) translateY(13px);
    top: 10px;
}  
#menu-icon.open span:nth-child(2){
    opacity: 0;
}
#menu-icon.open span:nth-child(3){
    transform: rotate(-45deg) translateY(-13px);
    top: 10px;
}

#menu-con.spin{
    transform: rotate(180deg);
}

header #logo{
    font-family: var(--logo-font);
    font-size: clamp(1rem, 2rem, 2.5rem);
    font-weight: normal;
    color: #fff;
}

header #login-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid;
    color: #fff;
    background-color: transparent;
}

main #side-menu{
    position: fixed;
    top: 0;
    left: -80%;
    width: 70%;
    height: calc(100dvh);
    background-color: var(--color-2);
    transition: left .5s ease-in-out;
}

main #side-menu.open{
    left: 0;
    z-index: 999;
}

main #side-menu nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main #side-menu a{
    min-width: 200px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-decoration: none;
    margin-block: 1rem;
    border-radius: 10px;
    box-shadow: 3px 5px 8px #00000038;
    color: #fff;
    background-color: var(--color-4);
    transition: background-color .3s ease-in-out;
}

main #side-menu a:hover{
    background-color: var(--color-5);
}

main #hero{
    display: grid;
    grid-template-columns: 1fr;
}

main #hero-img{
    height: 120dvh;
    background: url(../assets/bg-img.jpg) no-repeat;
    background-size: cover;
    background-position: center center; 
}

main #hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120dvh;
    text-align: center;
    background-color: #16425b;
}

main #hero h1{
    font-size: clamp(2rem, 8vw, 5rem);
    text-transform: capitalize;
    color: #fff;
}

main #hero p{
    display: none;
}

iframe{
    width: 100%;
}

@media screen and (min-width: 992px) {
    main #hero{
        grid-template-columns: 1fr 1fr;
    }
}